[submodule "themes/hommeldorp"]
	path = themes/hommeldorp
	url = ../wp-theme-hommeldorp
[submodule "plugins/contact-form"]
	path = plugins/contact-form
	url = ../wp-plugin-contact-form
[submodule "plugins/crowdfunding-banner"]
	path = plugins/crowdfunding-banner
	url = ../wp-plugin-crowdfunding-banner
