.DS_Store
.sass-cache
node_modules
/upgrade
/cache
/uploads
/advanced-cache.php
/debug.log
/languages
/db.php
/wflogs
# Ignore anything within themes, except the theme we are building.
/themes/*
!/hommel-theme
# Ignore anything within plugins. Exceptions to this to follow.
/plugins/*
# Track any plugins prefixed with myproject-
!/plugins/hommel-*
# Track any other plugins we control
#!/plugins/some-custom-plugin
#!/plugins/some-modified-third-party-plugin