<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"var:preset|spacing|60"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="margin-top:var(--wp--preset--spacing--60)"><!-- wp:group {"align":"wide","layout":{"type":"flex","orientation":"vertical"}} -->
<div class="wp-block-group alignwide"><!-- wp:heading {"level":1,"className":"is-style-text-subtitle","style":{"elements":{"link":{"color":{"text":"var:preset|color|custom-white"}}},"layout":{"selfStretch":"fit","flexSize":null},"spacing":{"padding":{"top":"var:preset|spacing|20","bottom":"var:preset|spacing|20","left":"var:preset|spacing|20","right":"var:preset|spacing|20"}}},"backgroundColor":"accent-2","textColor":"custom-white","fontSize":"x-large"} -->
<h1 class="wp-block-heading is-style-text-subtitle has-custom-white-color has-accent-2-background-color has-text-color has-background has-link-color has-x-large-font-size" style="padding-top:var(--wp--preset--spacing--20);padding-right:var(--wp--preset--spacing--20);padding-bottom:var(--wp--preset--spacing--20);padding-left:var(--wp--preset--spacing--20)">
            Groeiende wooncoöperatie in Utrecht</h1>
<!-- /wp:heading -->

<!-- wp:paragraph {"style":{"elements":{"link":{"color":{"text":"var:preset|color|custom-white"}}},"spacing":{"padding":{"top":"var:preset|spacing|20","bottom":"var:preset|spacing|20","left":"var:preset|spacing|20","right":"var:preset|spacing|20"}}},"backgroundColor":"accent-3","textColor":"custom-white"} -->
<p class="has-custom-white-color has-accent-3-background-color has-text-color has-background has-link-color" style="padding-top:var(--wp--preset--spacing--20);padding-right:var(--wp--preset--spacing--20);padding-bottom:var(--wp--preset--spacing--20);padding-left:var(--wp--preset--spacing--20)">
            Wij zijn een groep Utrechters die samen werken om betaalbare, duurzame huurwoningen te realiseren. Met onze
            coöperatie willen we deel zijn van een beweging die wonen tot recht maakt, tussen kopen en huren in. We
            geloven in een hechte vorm van samenleven en willen in ons gebouw ruimte maken voor activiteiten en
            creatieve projecten.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:spacer -->
<div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:group {"tagName":"section","align":"wide","layout":{"type":"constrained"}} -->
<section class="wp-block-group alignwide"><!-- wp:query {"queryId":30,"query":{"perPage":10,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"exclude","inherit":true},"metadata":{"categories":["posts"],"patternName":"core/query-grid-posts","name":"Grid"},"align":"wide","layout":{"type":"constrained"}} -->
<div class="wp-block-query alignwide"><!-- wp:post-template {"align":"wide","layout":{"type":"grid","columnCount":3}} -->
<!-- wp:group {"className":"is-style-section-3","style":{"spacing":{"padding":{"top":"30px","right":"30px","bottom":"30px","left":"30px"}},"border":{"radius":{"topLeft":"10px","topRight":"10px","bottomLeft":"10px","bottomRight":"10px"}},"css":"height: 100%;\ntext-align: center;"},"layout":{"inherit":false}} -->
<div class="wp-block-group is-style-section-3 has-custom-css" style="border-top-left-radius:10px;border-top-right-radius:10px;border-bottom-left-radius:10px;border-bottom-right-radius:10px;padding-top:30px;padding-right:30px;padding-bottom:30px;padding-left:30px"><!-- wp:post-title {"isLink":true,"fontSize":"x-large"} /-->

<!-- wp:post-excerpt {"textAlign":"center","moreText":"","style":{"elements":{"link":{"color":{"text":"var:preset|color|custom-white"}}},"typography":{"fontStyle":"normal","fontWeight":"400"}},"fontSize":"medium"} /-->

<!-- wp:read-more {"content":"Lees verder","className":"glow-link","style":{"spacing":{"padding":{"top":"var:preset|spacing|20","bottom":"var:preset|spacing|20","left":"var:preset|spacing|30","right":"var:preset|spacing|30"}},"border":{"width":"0px","style":"none","radius":{"topLeft":"4px","topRight":"4px","bottomLeft":"4px","bottomRight":"4px"}},"css":"display: inline-block;","elements":{"link":{"color":{"text":"var:preset|color|custom-white"}}},"typography":{"fontStyle":"normal","fontWeight":"500"}},"textColor":"custom-white","fontSize":"medium"} /--></div>
<!-- /wp:group -->
<!-- /wp:post-template --></div>
<!-- /wp:query --></section>
<!-- /wp:group -->

<!-- wp:spacer -->
<div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:group {"align":"wide","className":"is-style-section-1","style":{"spacing":{"padding":{"top":"var:preset|spacing|40","bottom":"var:preset|spacing|40","left":"var:preset|spacing|40","right":"var:preset|spacing|40"},"blockGap":"var:preset|spacing|30"},"border":{"radius":{"topLeft":"10px","topRight":"10px","bottomLeft":"10px","bottomRight":"10px"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide is-style-section-1" style="border-top-left-radius:10px;border-top-right-radius:10px;border-bottom-left-radius:10px;border-bottom-right-radius:10px;padding-top:var(--wp--preset--spacing--40);padding-right:var(--wp--preset--spacing--40);padding-bottom:var(--wp--preset--spacing--40);padding-left:var(--wp--preset--spacing--40)"><!-- wp:heading {"style":{"typography":{"textAlign":"center"},"elements":{"link":{"color":{"text":"var:preset|color|accent-3"}}}},"textColor":"accent-3"} -->
<h2 class="wp-block-heading has-text-align-center has-accent-3-color has-text-color has-link-color">Missie</h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"align":"wide","style":{"elements":{"link":{"color":{"text":"var:preset|color|contrast"}}},"typography":{"fontStyle":"normal","fontWeight":"400"}},"textColor":"contrast"} -->
<p class="alignwide has-contrast-color has-text-color has-link-color" style="font-style:normal;font-weight:400">De initiatiefnemersgroep van Hommeldorp bestaat uit vijf personen van tussen de vijfentwintig en dertig jaar. Allemaal hebben we tijdens onze studententijd veel plezier gehad aan samenwonen in Utrecht, en nu als starters zouden we dat graag willen voortzetten. Ook zijn we allemaal mensen-met-idealen: we zien de krapte op de woningmarkt en willen graag bijdragen aan de leefbaarheid en toegankelijkheid van de stad voor iedereen, ongeacht bijvoorbeeld inkomen, leeftijd en achtergrond. Daarom willen we graag een gezellige en duurzame vorm van samenwonen organiseren zodat we in Utrecht kunnen blijven, én daarnaast kunnen bijdragen aan een sociale en inclusieve gemeenschap in onze stad.</p>
<!-- /wp:paragraph -->

<!-- wp:spacer {"height":"27px"} -->
<div style="height:27px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:heading {"style":{"typography":{"textAlign":"center"},"elements":{"link":{"color":{"text":"var:preset|color|accent-3"}}}},"textColor":"accent-3"} -->
<h2 class="wp-block-heading has-text-align-center has-accent-3-color has-text-color has-link-color">Visie en kernwaarden</h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"align":"wide","style":{"elements":{"link":{"color":{"text":"var:preset|color|contrast"}}},"typography":{"fontStyle":"normal","fontWeight":"400"}},"textColor":"contrast"} -->
<p class="alignwide has-contrast-color has-text-color has-link-color" style="font-style:normal;font-weight:400">Hommeldorp wordt een woongemeenschap in het Utrechtse stadsdeel Leidsche Rijn, bestaande uit 37 huishoudens. De gemeenschap is opgebouwd uit ‘clusters’ van 4 tot 8 woningen die samen een (extra) woonkeuken delen. Deze clusters vormen de bouwblokken van onze gemeenschap, zodat we allemaal met elkaar verbonden blijven. Onze woonidealen worden verder gestuurd door <strong>onze kernwaarden</strong>.</p>
<!-- /wp:paragraph -->

<!-- wp:columns {"align":"wide","style":{"spacing":{"blockGap":{"left":"var:preset|spacing|30"},"margin":{"top":"var:preset|spacing|30","bottom":"var:preset|spacing|30"},"padding":{"right":"var:preset|spacing|40","left":"var:preset|spacing|40"}},"border":{"radius":{"topLeft":"5px","topRight":"5px","bottomLeft":"5px","bottomRight":"5px"}}},"backgroundColor":"custom-light-orange"} -->
<div class="wp-block-columns alignwide has-custom-light-orange-background-color has-background" style="border-top-left-radius:5px;border-top-right-radius:5px;border-bottom-left-radius:5px;border-bottom-right-radius:5px;margin-top:var(--wp--preset--spacing--30);margin-bottom:var(--wp--preset--spacing--30);padding-right:var(--wp--preset--spacing--40);padding-left:var(--wp--preset--spacing--40)"><!-- wp:column {"style":{"spacing":{"padding":{"right":"0","left":"0"}}}} -->
<div class="wp-block-column" style="padding-right:0;padding-left:0"><!-- wp:image {"sizeSlug":"full","linkDestination":"none"} -->
<figure class="wp-block-image size-full"><img src="http://localhost/wp-content/uploads/2026/07/badge-duurzaamheid.png" alt="" class=""/></figure>
<!-- /wp:image -->

<!-- wp:heading {"level":3,"style":{"typography":{"textAlign":"center"}}} -->
<h3 class="wp-block-heading has-text-align-center">Duurzaamheid</h3>
<!-- /wp:heading --></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:image {"sizeSlug":"full","linkDestination":"none"} -->
<figure class="wp-block-image size-full"><img src="http://localhost/wp-content/uploads/2026/07/badge-diversiteit.png" alt="" class=""/></figure>
<!-- /wp:image -->

<!-- wp:heading {"level":3,"style":{"typography":{"textAlign":"center"}}} -->
<h3 class="wp-block-heading has-text-align-center">Diversiteit</h3>
<!-- /wp:heading --></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:image {"sizeSlug":"full","linkDestination":"none"} -->
<figure class="wp-block-image size-full"><img src="http://localhost/wp-content/uploads/2026/07/badge-buurtverbinding.png" alt="" class=""/></figure>
<!-- /wp:image -->

<!-- wp:heading {"level":3,"style":{"typography":{"textAlign":"center"}}} -->
<h3 class="wp-block-heading has-text-align-center">Buurtverbinding</h3>
<!-- /wp:heading --></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:image {"sizeSlug":"full","linkDestination":"none"} -->
<figure class="wp-block-image size-full"><img src="http://localhost/wp-content/uploads/2026/07/badge-creativiteit.png" alt="" class=""/></figure>
<!-- /wp:image -->

<!-- wp:heading {"level":3,"style":{"typography":{"textAlign":"center"}}} -->
<h3 class="wp-block-heading has-text-align-center">Creativiteit</h3>
<!-- /wp:heading --></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:image {"sizeSlug":"full","linkDestination":"none"} -->
<figure class="wp-block-image size-full"><img src="http://localhost/wp-content/uploads/2026/07/badge-betaalbaarheid.png" alt="" class=""/></figure>
<!-- /wp:image -->

<!-- wp:heading {"level":3,"style":{"typography":{"textAlign":"center"}}} -->
<h3 class="wp-block-heading has-text-align-center">Betaalbaarheid</h3>
<!-- /wp:heading --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->